body {
    margin: 0;
    padding: 0;
  }
  
header {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/08/18/26/man-593333_1280.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  

#pic{
  transition: all 0.3s ease-out;
}

#pic:hover {
	transform: scale(1.4);
}

h2{
  margin: 0;
}

 header h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
  }
  
  .icon-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  
  .icon-container::before {
    position: absolute; /* Position the text absolutely within the container */
    top: 0; /* Place the text at the top of the container */
    left: 0; /* Place the text at the left of the container */
    color: white; /* Set text color (adjust for contrast) */
    font-size: 16px; /* Adjust font size as needed */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background (optional) */
    padding: 5px; /* Add some padding (optional) */
  }
  
  .icon-container img {
    width: 100px;
  }
  
  
  .content-container {
    margin-bottom: 500px; 
  }

  
.new-section {
  display: flex;
  background-color: white;
  padding: 50px;
}

.left-image {
  width: 50%;
  margin-right: 100px;
}

.left-text{
  width: 50%;
}

.right-text {
  width: 50%;
}


.right-image {
  width: 50%;
  margin-top: 20px;
}


.footer {
  background-color: darkgreen;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer img {
  width: auto;
  height: 50px;
}

.icon-container figure {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  color: white; 
  font-size: larger; 
}

.icon-container img {
  width: 100px;
}

.icon-container figcaption {
  order: +1; 
}

#business .right-text p, #art .right-text p, #edu .right-text p, #comp .left-text p {
  font-size: 2vw; /* Adjust as needed */
}

